<div class="tech-cont">
  <h3><strong>Tech Support</strong></h3>
  <p>
    KorkieZP (PTY) LTD provides IT support services to home users as well as
    small-to-medium business users. Our core structures:
  </p>
  <div class="core-values-cont">
    <app-core-structures-card
      [struct]="hourlystruct"
      [desc]="hourlydesc"
      [img]="hourlyimg"
    ></app-core-structures-card>
    <app-core-structures-card
      [struct]="projectstruct"
      [desc]="projectdesc"
      [img]="projectimg"
    ></app-core-structures-card>
    <app-core-structures-card
      [struct]="remotestruct"
      [desc]="remotedesc"
      [img]="remoteimg"
    ></app-core-structures-card>
  </div>
  <p>
    Our strategy involves visiting our clients in the comfort of their own homes
    or businesses with a view on building long-term business relationships. Our
    services also span across the physical borders, and we utilize
    remote-access-tools inorder to help/assist in any IT-related situation. We
    aim to stay abreast with the latest technological developments, and by
    keeping up-to-date with our client's needs.
  </p>
  <p>
    Quick response time, combined with high level of efficiency, will ensure
    less down-time and service interruptions for our clients.
  </p>

  <div class="img-block">
    <img src="assets/steth.jpg" />
  </div>
</div>
