<div class="techcont">
  <div class="textblock">
    <h2><strong>Tech Support</strong></h2>
    <p>
      KorkieZP (PTY) LTD provides IT support services to home users as well as
      small-to-medium business users. Our core structures:
    </p>
  </div>

<div class="cardblock">
  <app-core-structures-card
  [struct]="hourlystruct"
  [desc]="hourlydesc"
  [img]="hourlyimg"
></app-core-structures-card>
<app-core-structures-card
[struct]="projectstruct"
[desc]="projectdesc"
[img]="projectimg"
></app-core-structures-card>
<app-core-structures-card
[struct]="remotestruct"
[desc]="remotedesc"
[img]="remoteimg"
></app-core-structures-card>
</div>
 <!-- <div class="corevaluescont">
    <app-core-structures-card
      [struct]="hourlystruct"
      [desc]="hourlydesc"
      [img]="hourlyimg"
    ></app-core-structures-card>
    <app-core-structures-card
      [struct]="projectstruct"
      [desc]="projectdesc"
      [img]="projectimg"
    ></app-core-structures-card>
    <app-core-structures-card
      [struct]="remotestruct"
      [desc]="remotedesc"
      [img]="remoteimg"
    ></app-core-structures-card>
  </div>  -->
  <!-- <app-core-structures></app-core-structures> -->
  <div class="textblock">
    <p>
        Our strategy involves visiting our clients in the comfort of their own homes
        or businesses with a view on building long-term business relationships. Our
        services also span across the physical borders, and we utilize
        remote-access-tools inorder to help/assist in any IT-related situation. We
        aim to stay abreast with the latest technological developments, and by
        keeping up-to-date with our client's needs.
      </p>
      <p>
        Quick response time, combined with high level of efficiency, will ensure
        less down-time and service interruptions for our clients.
      </p>
  </div>

</div>
