section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

p {
    width: 40vw;
}

img {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}
.writing-cont {
    z-index: 1;
    color: white;
}